@import './components/normalize.css';
@import './components/fonts.css';
@import './components/header.css';
@import './components/navigation.css';

body {
    font-family: "Poppins", serif;
}

html {
    scroll-behavior: smooth;
}

.prevent_select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}