.section {
    /* background-color: rgb(255, 195, 195); */
    height: 450px;
    padding-top: 20px;
    box-sizing: content-box;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.section__pic-container {
    display: flex;
    width: 400px;
    height: 400px;
}

.section__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.section__social-icon {
    width: 50px;
    height: 50px;
}

.section__p1 {
    font-weight: 600;
    font-size: 1rem;
}

.section__p2 {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.section__title {
    font-weight: 600;
    font-size: 3rem;
}

.section__btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.section__social-container {
    margin-top: 20px;
    display: flex;
    height: 20px;
    gap: 5px;
    padding: 0 100px;
}

.section__social-icon {
    width: 25px;
    height: 25px;
}